<div *ngIf="navData">
    <div class="menu" [ngClass]="collapsed ? 'menu-collapsed': ''">
        <div class="logo-container">
            <button class="logo" (click)="toggleCollapse()">R</button>
            <div class="logo-text" @fadeInOut *ngIf="collapsed">RobDroneGo</div>
            <button class="btn-close" id="close-menu-button" @rotate *ngIf="collapsed" (click)="closeMenu()">
                <i class="fal fa-times close-icon"></i>
            </button>
        </div>
        <div class="scrollwrap scrollwrap_delayed">
            <ul class="menu-nav">
                <li class="menu-nav-item" *ngFor="let data of navData">
                    <a class="menu-nav-link" (click)="handleClick(data)" *ngIf="data.items && data.items.length > 0"
                        [ngClass]="getActiveClass(data)">
                        <i class="menu-link-icon" [class]="data.icon"></i>
                        <span class="menu-link-text" @fadeInOut *ngIf="collapsed">
                            {{data.label}}
                        </span>
                        <i *ngIf="data.items && collapsed"
                            [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                            class="menu-collapse-icon"></i>
                    </a>

                    <a class="menu-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                        [routerLink]="[data.routeLink]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" (click)="skrinkItems(data)">
                        <i class="menu-link-icon" [class]="data.icon"></i>
                        <span class="menu-link-text" @fadeInOut *ngIf="collapsed">
                            {{data.label}}
                        </span>
                    </a>
                    <div *ngIf="collapsed && data.items && data.items.length > 0">
                        <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                            [expanded]="data.expanded"></app-sublevel-menu>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>