p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.common-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.common-table th {
    background-color: lightgrey;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.common-table th::after {
    content: '\25B2';
    position: absolute;
    right: 8px;
    opacity: 0.5;
}

.common-table th.descending::after {
    content: '\25BC';
    opacity: 1;
}

.common-table th.ascending::after {
    content: '\25B2';
    opacity: 1;
}

.common-table td {
    padding: 10px;
}

.common-table .odd-row {
    background-color: white;
}

.common-table .even-row {
    background-color: lightgrey;
}

.approve-button,
.deny-button {
    width: calc(100% - 10px);
    margin: 2px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.approve-button {
    background-color: green;
    color: white;
}

.deny-button {
    background-color: red;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}