<h1 class="center">Activate/Deactivate User</h1>

<div *ngIf="error" class="error">
    {{ error }}
</div>

<div *ngIf="users.length > 0">
    <table class="user-table">
        <thead>
            <tr>
                <th (click)="sort('name')" [class.descending]="sortField === 'name' && sortDirection === 'desc'"
                    [class.ascending]="sortField === 'name' && sortDirection === 'asc'">Name</th>
                <th (click)="sort('email')" [class.descending]="sortField === 'email' && sortDirection === 'desc'"
                    [class.ascending]="sortField === 'email' && sortDirection === 'asc'">Email</th>
                <th (click)="sort('telephone')"
                    [class.descending]="sortField === 'telephone' && sortDirection === 'desc'"
                    [class.ascending]="sortField === 'telephone' && sortDirection === 'asc'">Telephone</th>
                <th (click)="sort('taxPayerNumber')"
                    [class.descending]="sortField === 'taxPayerNumber' && sortDirection === 'desc'"
                    [class.ascending]="sortField === 'taxPayerNumber' && sortDirection === 'asc'">Tax Payer Number</th>
                <th (click)="sort('role')" [class.descending]="sortField === 'role' && sortDirection === 'desc'"
                    [class.ascending]="sortField === 'role' && sortDirection === 'asc'">Role</th>
                <th (click)="sort('active')" [class.descending]="sortField === 'active' && sortDirection === 'desc'"
                    [class.ascending]="sortField === 'active' && sortDirection === 'asc'">Toggle Activation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of sortedUsers | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index"
                [class.odd-row]="i % 2 === 0" [class.even-row]="i % 2 !== 0">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.taxPayerNumber }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <button (click)="toggle(user)"
                        [ngClass]="{'active-button': user.active, 'inactive-button': !user.active}">
                        {{ user.active ? 'Activated' : 'Deactivated' }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>