<h1 class="center">Edit Floor</h1>

<form (ngSubmit)="editFloor()" #formulario="ngForm" class="form-to-create">
    <div class="form-group">
        <label for="building">Building Code:</label>
        <input list="buildingList" id="building" name="building" [(ngModel)]="selectedBuildingCode" required
            (input)="loadFloorsOfBuilding()">
        <datalist id="buildingList">
            <option *ngFor="let building of buildings" [value]="building.code">{{building.code}}</option>
        </datalist>
    </div>

    <div class="form-group">
        <label for="floor">Floor number:</label>
        <select id="floor" name="floor" [(ngModel)]="selectedFloorNumber" required (change)="loadFloorDetails()">
            <option *ngFor="let floor of floors" [value]="floor.number">{{floor.number}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="number">Number:</label>
        <input type="text" id="number" name="number" [(ngModel)]="floor.number">
    </div>
    
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="floor.description">
    </div>

    <div class="button-container">
        <button type="submit" [disabled]="formulario.invalid">Edit</button>
    </div>

    <p *ngIf="error" class="form-alert form-alert-error"><b>Error:</b> {{error}}</p>
    <p *ngIf="success" class="form-alert form-alert-success"><b>Success:</b> {{success}}</p>
</form>